---
title: "Willkommen"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/backgrounds/stifte.jpg
  cta_label: "Erfahren Sie mehr über die Studie"
  cta_url: /ueber-die-studie/
excerpt: |
  KOMPASS: Eine Studie für Kinder mit Lernschwierigkeiten und psychischen Belastungen.
intro:
  - excerpt: 'Kooperative Verhaltensmodifikation und PC-basierte Förderung von Verhaltensauffälligkeiten und schulischen Leistungsschwächen.'
feature_row:
  - image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "Liebe Leserin, lieber Leser:"
    title: "Kennen Sie das?"
    excerpt: "…einzelne Kinder haben Probleme beim Lesen, Rechtschreiben und/oder Rechnen?


…fallen im Unterricht häufig zusätzlich durch Verursachung von Störungen auf?


…Sie machen sich Sorgen, um einzelne schüchtern oder verängstigt wirkende Kinder?


…Sie haben Bedenken, dass manche Kinder nicht genügend oder unangemessene Förderung durch das Elternhaus erhalten?


 **Ja?** 


**Dann werden Sie Teil unseres Teams!**


Helfen Sie uns für jedes Kind die passende Maßnahme zu finden!"

  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg

    excerpt: "Als multidisziplinäres Forschungsteam beschäftigen wir uns mit der Frage, wie wir Kinder mit Schwierigkeiten beim Lesen, Rechtschreiben und Rechnen unterstützen können. Aus diesem Grund wurden onlinegestützte Förderprogramme entwickelt, deren positive Wirkung bereits gut belegt werden konnte. 


Umschriebene Entwicklungsstörungen schulischer Fertigkeiten (UESF) können isoliert auftreten, d. h. Probleme im Rechnen oder im Schriftspracherwerb; sie treten aber auch überzufällig häufig in Kombination gemeinsam auf, d. h. Probleme im Rechnen und im Schriftspracherwerb. Bisher fehlen allerdings wissenschaftliche Erkenntnisse, wie man Kin-der mit kombinierten UESF effektiv fördern kann.


Zudem treten bei einer bestehenden UESF häufig auch emotionale Probleme (z. B. Ängste oder Traurigkeit und Selbstwertverlust) und Verhaltensprobleme (wie z. B. Unruhe, Ablenkbarkeit oder Disziplinschwierigkeiten) auf.
"
    url: "#test-link"
    btn_label: "Read More" 
    btn_class: "btn--primary" 
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg 
    alt: "So unterschiedlich wie die Kinder selbst, zeigen sich oft auch ihre Schwierigkeiten:"

    excerpt: "  
  

&nbsp;


Ziel ist es nun, für jedes Kind die passenden Maßnahmen zu finden und zu evaluieren, um die Effektivität der Förderprogramme zu steigern. Außerdem möchten wir Möglichkeiten und Lösungen finden, wie Aufmerksamkeitsschwierigkeiten, hyperaktive, ängstliche oder depressive Symptome durch die Maßnahmen angesprochen und verringert werden können. "
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    
    title: "Studiendurchführung:"
    excerpt: 'Die Studie beginnt im ersten Halbjahr der 3. Schulstufe mit einer Feststellung der Lese-, Rechtschreib- und Rechenleistung sowie der Zahlenverarbeitung. Im zweiten Halbjahr schließt sich im Falle der Feststellung von Förderbedarf eine auf diesen Ergebnissen basierende und auf das individuelle Leistungsprofil Ihres Kindes zugeschnittene Onlineförderung an. Teilnahmemöglichkeiten sind lokal begrenzt und bestehen in München, Wuppertal sowie Berlin/Potsdam und Umgebung. Der Zeitplan der Studiendurchführung richtet sich nach dem jeweiligen Standort. Für weitere Informationen klicken Sie bitte auf nachfolgenden "Read More"-Button und im Anschluss auf ihre Region.'
    url: "#test-link"
    btn_label: "Read More"  
    btn_class: "btn--primary" 

feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    
    title: "Vorteile einer Teilnahme:"
    excerpt: 
Vorteile für Lehrpersonen und Schulen:
•	Kostenloser Zugang im Rahmen von Schullizenzen für einen Zeitraum von 3 Jahren zu einem wissenschaftlich fundierten und evaluierten Online-Förderprogramm (Meister Cody bzw. Calcularis)
•	Rückmeldung über die Klassenergebnisse der Lese- und Rechenerhebung
•	Sie erhalten dadurch zu Beginn des Schuljahres einen Eindruck über den Leistungsstand der Klasse 
•	Direkte Förderung von Kindern mit Lernstörungen 
•	Angebot kostenloser Fortbildungen, die Sie für Ihre individuelle Fortbildungsverpflichtung nutzen können (v. a. zeitlich flexibel durchführbare Online-Schulungen/Webinare, inkl. Material; nur möglich bei Teilnahme an Hauptteil b) des Projektes)
•	Informationen zu praxisnahen Strategien zur Steuerung des Schülerverhaltens, zur Unterrichtserleichterung sowie zum Umgang mit problematischen Schülern im Klassensetting und in der Individualförderung (ebenfalls nur möglich bei Teilnahme an Hauptteil b) des Projektes)
•	Außerdem leisten Sie einen Beitrag zum Gesamtprojekt LONDI des vom Bundesministerium für Bildung und Forschung geförderten Projektes „Lernstörungen - Onlineplattform für Diagnostik & Intervention“ (LONDI) *


Vorteile für Eltern teilnehmender Kinder:

• Ausführliche Untersuchung der Lese- und Rechenfähigkeiten Ihres Kindes 
• Ggf. kostenloses Lerntraining, individuell ausgewählt aufgrund der Ergebnisse Ihres Kindes in Form der Lern-Software Meister Cody oder Calcularis


{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="center" %}

{% include feature_row id="feature_row4" type="center" %}
