<aside class="notice--warning">
  <strong> Nehmen Sie an der Studie teil!</strong>
  <br> i KOMPASS ist eine Studie für Kinder mit Lernschwierigkeiten und psychischen Belastungen. Ziel ist es, diesen eine gezielte Förderung im Sinne einer kooperativen Verhaltensmodifikation und PC-/Online-basierten Förderung von Verhaltensauffälligkeiten und Schulschwierigkeiten zukommen zu lassen und dies wissenschaftlich zu begleiten.
  <br> <a href="{{ '/ueber-die-studie/' | absolute_url }}">Erfahren Sie mehr über die Studie!
  </al> 
</aside>
